<%= form_for(@customer_feedback,@child) do |f| %>
  <% if @customer_feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_feedback.errors.count, "error") %> prohibited this customer_feedback from being saved:</h2>

      <ul>
      <% @customer_feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br />
    <%= f.number_field :pincode %>
  </div>
  <div>
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %><br />
    <%= f.number_field :mobile_number %>
  </div>
  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.number_field :phone_no %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :education %><br />
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :jobpost %><br />
    <%= f.text_field :jobpost %>
  </div>
  <div class="field">
    <%= f.label :Name_of_company %><br />
    <%= f.text_field :Name_of_company %>
  </div>
  <div class="field">
    <%= f.label :experience %><br />
    <%= f.number_field :experience %>
  </div>
  <div class="field">
    <%= f.label :income %><br />
    <%= f.number_field :income %>
  </div>
  <div class="field">
    <%= f.label :economical_liability %><br />
    <%= f.number_field :economical_liability %>
  </div>
  <div class="field">
    <%= f.label :number_of_child %><br />
    <%= f.number_field :number_of_child %>
  </div>
    <%= @child.each do |fa| %>
        <div class="field">
          <%= fa.label :child_age %><br />
          <%= fa.number_field :child_age %>
        </div>
        <div class="field">
          <%= fa.label :child_dob %><br />
          <%= fa.number_field :child_dob %>
        </div>
    <% end %>

  <div class="field">
    <%= f.label :years_intend_to_work %><br />
    <%= f.text_field :years_intend_to_work %>
  </div>
  <div class="field">
    <%= f.label :short_term_goals %><br />
    <%= f.number_field :short_term_goals %>
  </div>
  <div class="field">
    <%= f.label :long_term_goals %><br />
    <%= f.number_field :long_term_goals %>
  </div>
  <div class="field">
    <%= f.label :age_of_retirement %><br />
    <%= f.number_field :age_of_retirement %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
