<%= form_for(@customer_feedback) do |f| %>
  <% if @customer_feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_feedback.errors.count, "error") %> prohibited this customer_feedback from being saved:</h2>

      <ul>
      <% @customer_feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br />
    <%= f.number_field :pincode %>
  </div>
  <div>
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %><br />
    <%= f.number_field :mobile_number %>
  </div>
  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.number_field :phone_no %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :education %><br />
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :jobpost %><br />
    <%= f.text_field :jobpost %>
  </div>
  <div class="field">
    <%= f.label :name_of_company %><br />
    <%= f.text_field :name_of_company %>
  </div>
  <div class="field">
    <%= f.label :experience %><br />
    <%= f.number_field :experience %>
  </div>
  <div class="field">
    <%= f.label :income %><br />
    <%= f.number_field :income %>
  </div>
  <div class="field">
    <%= f.label :economical_liability %><br />
    <%= f.number_field :economical_liability %>
  </div>
  <div class="field">
    <%= f.label :number_of_child %><br />
    <%= f.number_field :number_of_child %>
  </div>
    <%= f.fields_for @child do |fa| %>
        <div class="field">
          Child one Detail
          <%= fa.label :child_age %><br />
          <%= fa.number_field :child_age %>
        </div>
        <div class="field">
          <%= fa.label :child_dob %><br />
          <%= fa.date_select:child_dob %>
        </div>
        Child 2 Detail
        <div>
        <%= fa.label :child_age %><br />
        <%= fa.number_field :child_age %>
        </div>
        <div class="field">
          <%= fa.label :child_dob %><br />
          <%= fa.date_select :child_dob %>
        </div>
        Child 3 Detail
        <div>
          <%= fa.label :child_age %><br />
          <%= fa.number_field :child_age %>
        </div>
        <div class="field">
          <%= fa.label :child_dob %><br />
          <%= fa.date_select :child_dob %>
        </div>
        Child 4 Detail
        <div>
          <%= fa.label :child_age %><br />
          <%= fa.number_field :child_age %>
        </div>
        <div class="field">
          <%= fa.label :child_dob %><br />
          <%= fa.date_select :child_dob %>
        </div>
    <% end %>

    <div>
      <%= f.label :client_anniversary_date %><br />
      <%= f.date_select :client_anniversary_date %>
    </div>
    <%= f.fields_for @perssonal_assets do |fa| %>
        House<br/>
        <div>
          <%= fa.check_box :house_owned %> Owned
        </div>
        <div class="field">
          <%= fa.check_box :house_rented %> Rented
        </div>
        <div class="field">
          <%= fa.check_box :house_co_provided %> Co Provided
        </div>
        Vehicle<br/>
        <div>
          <%= fa.check_box :four_wheeler %> 4 Wheeler
        </div>
        <div class="field">
          <%= fa.check_box :two_wheeler %> 2 Wheeler
        </div>
        <div class="field">
          <%= fa.check_box :no_vehical %> No Vehical
        </div>
        <br/>
        <div>
          <%= fa.label :no_of_four_wheeler %><br />
          <%= fa.number_field :no_of_four_wheeler %>
        </div>
        <div class="field">
          <%= fa.label :no_of_two_wheelers %><br />
          <%= fa.number_field :no_of_two_wheelers %>
        </div>
    <% end %>
  <div class="field">
    <%= f.label :years_intend_to_work %><br />
    <%= f.text_field :years_intend_to_work %>
  </div>
  <div class="field">
    <%= f.label :short_term_goals %><br />
    <%= f.text_field :short_term_goals %>
  </div>
  <div class="field">
    <%= f.label :long_term_goals %><br />
    <%= f.text_field :long_term_goals %>
  </div>
  <div class="field">
    <%= f.label :age_of_retirement %><br />
    <%= f.number_field :age_of_retirement %>
  </div>
    <%= f.fields_for @planned do |fa| %>

        <div>
          <%= fa.label :child_education %><br />
          <%= fa.number_field :child_education %>
        </div>
        <div class="field">
          <%= fa.label :child_marriage %><br />
          <%= fa.number_field :child_marriage %>
        </div>
        <div>
          <%= fa.label :retirement_fund %><br />
          <%= fa.number_field :retirement_fund %>
        </div>
    <% end %>
    <%= f.fields_for @investment do |fa| %>

        <div>
          <%= fa.label :fd %><br />
          <%= fa.number_field :fd %>
        </div>
        <div class="field">
          <%= fa.label :gold %><br />
          <%= fa.number_field :gold %>
        </div>
        <div>
          <%= fa.label :market %><br />
          <%= fa.number_field :market %>
        </div>
        <div>
          <%= fa.label :real_estate %><br />
          <%= fa.number_field :real_estate %>
        </div>
    <% end %>
    <%= f.fields_for @reference do |fa| %>
        Reference 1<br/>
        <div>
          <%= fa.label :name %><br />
          <%= fa.text_field :name %>
        </div>
        <div class="field">
          <%= fa.label :contact_no %><br />
          <%= fa.number_field :contact_no %>
        </div>
        <div>
          <%= fa.label :relation %><br />
          <%= fa.text_field :relation %>
        </div>

        Reference 2<br/>
        <div>
          <%= fa.label :name %><br />
          <%= fa.text_field :name %>
        </div>
        <div class="field">
          <%= fa.label :contact_no %><br />
          <%= fa.number_field :contact_no %>
        </div>
        <div>
          <%= fa.label :relation %><br />
          <%= fa.text_field :relation %>
        </div>

        Reference 3<br/>
        <div>
          <%= fa.label :name %><br />
          <%= fa.text_field :name %>
        </div>
        <div class="field">
          <%= fa.label :contact_no %><br />
          <%= fa.number_field :contact_no %>
        </div>
        <div>
          <%= fa.label :relation %><br />
          <%= fa.text_field :relation %>
        </div>

        Reference 4<br/>
        <div>
          <%= fa.label :name %><br />
          <%= fa.text_field :name %>
        </div>
        <div class="field">
          <%= fa.label :contact_no %><br />
          <%= fa.number_field :contact_no %>
        </div>
        <div>
          <%= fa.label :relation %><br />
          <%= fa.text_field :relation %>
        </div>

    <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
