<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer_feedback.name %>
</p>

<p>
  <b>Address:</b>
  <%= @customer_feedback.address %>
</p>

<p>
  <b>Pincode:</b>
  <%= @customer_feedback.pincode %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @customer_feedback.mobile_number %>
</p>

<p>
  <b>Phone no:</b>
  <%= @customer_feedback.phone_no %>
</p>

<p>
  <b>Email:</b>
  <%= @customer_feedback.email %>
</p>

<p>
  <b>Education:</b>
  <%= @customer_feedback.education %>
</p>

<p>
  <b>Occupation:</b>
  <%= @customer_feedback.occupation %>
</p>

<p>
  <b>Jobpost:</b>
  <%= @customer_feedback.jobpost %>
</p>

<p>
  <b>Name of company:</b>
  <%= @customer_feedback.name_of_company %>
</p>

<p>
  <b>Experience:</b>
  <%= @customer_feedback.experience %>
</p>

<p>
  <b>Income:</b>
  <%= @customer_feedback.income %>
</p>

<p>
  <b>Economical liability:</b>
  <%= @customer_feedback.economical_liability %>
</p>

<p>
  <b>Number of child:</b>
  <%= @customer_feedback.number_of_child %>
</p>

<p>
  <b>Years intend to work:</b>
  <%= @customer_feedback.years_intend_to_work %>
</p>

<p>
  <b>Short term goals:</b>
  <%= @customer_feedback.short_term_goals %>
</p>

<p>
  <b>Long term goals:</b>
  <%= @customer_feedback.long_term_goals %>
</p>

<p>
  <b>Age of retirement:</b>
  <%= @customer_feedback.age_of_retirement %>
</p>


<%= link_to 'Edit', edit_customer_feedback_path(@customer_feedback) %> |
<%= link_to 'Back', customer_feedbacks_path %>
